
# Ignore All
*

# Whitelist this
!*.yaml
!.gitignore
!*.md
!includes
!includes/*
!www
!www/*
!vera.json
!.travis.yml

# Ignore this
.storage
.cloud
.google.token

ip_bans.yaml
secrets.yaml
known_devices.yaml
